////////////////////////////////////////////////////////////////////////////////
// CONSTANTS

$background: #333
$background-panel: #4a4a4a
$text-light: #eee
$text-light-fade: #aaa

$font-sans: "helvetica neue", helvetica, arial, sans-serif
$font-mono: consolas, monaco, courier new, monospace

$controls-height: 60px
$timeline-height: 300px // TODO: eventually drag-resizable
$timeline-header-width: 350px

$icon-plus: "\f055"
$icon-minus: "\f056"
$icon-doubleleft: "\f100"
$icon-doubleright: "\f101"
$icon-left: "\f104"
$icon-right: "\f105"
$icon-play: "\f144"
$icon-pause: "\f28b"

////////////////////////////////////////////////////////////////////////////////
// UTIL

@mixin fill($margin: 0)
  bottom: $margin
  left: $margin
  position: absolute
  right: $margin
  top: $margin

@mixin reify
  content: ''
  display: block

@mixin icon
  font-family: vannot !important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

////////////////////////////////////////////////////////////////////////////////
// RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  background: transparent
  border: 0
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

html, body
  background-color: $background

////////////////////////////////////////////////////////////////////////////////
// GLOBAL

@font-face
  font-family: vannot
  font-stile: normal
  font-weight: normal
  src: url('assets/vannot.ttf?2qcz1p') format('truetype'), url('assets/vannot.woff?2qcz1p') format('woff'), url('assets/vannot.svg?2qcz1p#icomoon') format('svg')

#vannot-templates
  display: none

////////////////////////////////////////////////////////////////////////////////
// LAYOUT

#vannot
  @include fill
  font-family: $font-sans
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none

.vannot-player
  @include fill
  bottom: $controls-height + $timeline-height

.vannot-controls
  @include fill
  background: $background-panel
  bottom: $timeline-height
  height: $controls-height
  top: auto

.vannot-timeline
  @include fill
  height: $timeline-height
  top: auto

////////////////////////////////////////////////////////////////////////////////
// SECTION: Controls

$control-button-size: 60px

.vannot-controls-buttons
  margin: 0 auto
  width: $control-button-size * 5

  button
    background: none
    border: none
    color: #fff
    float: left
    font-size: 30px
    height: $control-button-size
    outline: none
    width: $control-button-size

    &:hover
      font-size: 33px
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.6)

.vannot-leapback
  @include icon
  &:before
    content: $icon-doubleleft

.vannot-skipback
  @include icon
  &:before
    content: $icon-left

.vannot-playpause
  @include icon
  &:before
    content: $icon-play

.vannot-skipforward
  @include icon
  &:before
    content: $icon-right

.vannot-leapforward
  @include icon
  &:before
    content: $icon-doubleright

.vannot-timecode
  background: $background
  border-radius: 2px
  color: $text-light-fade
  font-size: 10px
  padding: 6px 9px
  position: absolute
  right: 15px
  top: 15px

  span
    color: $text-light
    font-family: $font-mono
    font-size: 16px
    line-height: 1

  .vannot-timecode-fr
    color: $text-light-fade

////////////////////////////////////////////////////////////////////////////////
// SECTION: Timeline

$timeline-ticks-height: 40px
$timeline-ranger-height: 20px

////////////////////////////////////////
// > Scale + Playhead

.vannot-scale
  height: $timeline-ticks-height
  margin-left: $timeline-header-width
  position: relative

$playhead-color: #6cf
.vannot-playhead
  border-right: 1px solid $playhead-color
  height: $timeline-height - $timeline-ticks-height
  position: absolute
  top: 100%
  width: 0
  z-index: 2

  $size: 9px
  $halfsize: $size / 2
  &:before
    @include reify
    background: $playhead-color
    border-radius: 2px 2px 0 0
    bottom: calc(100% + #{$halfsize})
    height: $size
    left: -$halfsize
    position: absolute
    width: $size
  &:after
    @include reify
    border: $halfsize solid transparent
      bottom-width: 0
      top-color: $playhead-color
    bottom: 100%
    left: -$halfsize
    position: absolute

.vannot-ticks
  @include fill
  pointer-events: none

  .vannot-tick
    $color: #777
    border-right: 1px solid $color
    bottom: 0
    height: 5px
    position: absolute

    span
      $width: 60px
      bottom: 13px
      color: $color
      display: none
      font-size: 10px
      left: $width / -2
      position: absolute
      text-align: center
      width: $width

    &.vannot-tick-major
      height: 10px

      span
        display: block

////////////////////////////////////////
// > Tracks

$track-height: 25px
$track-vpadding: 5px
$track-outerheight: $track-height + (2 * $track-vpadding)
.vannot-track
  height: $track-outerheight

  .vannot-track-header
    $hpadding: 12px
    box-shadow: 0 1px 0 #3a3a3a inset, 0 -1px 0 #222 inset
    height: $track-height
    margin-bottom: -1 * $track-outerheight
    padding: $track-vpadding $hpadding
    width: $timeline-header-width - (2 * $hpadding)

  .vannot-track-title
    color: $text-light
    font-size: 12px
    font-weight: bold
    line-height: $track-height

  .vannot-track-color
    border: 1px solid #222
    float: left
    height: 15px
    margin-right: 10px
    margin-top: 4px
    width: 18px

  .vannot-track-points
    background: #111
    box-shadow: 0 -1px 0 #1b1b1b inset
    height: $track-outerheight
    margin-left: $timeline-header-width
    position: relative

    .vannot-track-point
      $size: 12px
      border: 1px solid #000
      box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.3) inset
      height: $size
      position: absolute
      top: 10px
      transform: rotate(45deg)
      width: $size

.vannot-tracks
  overflow-x: hidden
  overflow-y: auto

