@use 'sass:math'

////////////////////////////////////////////////////////////////////////////////
// CONSTANTS

$icon-cache: '42zk6r' // change this when the iconset is updated

$background: #333
$background-panel: #4a4a4a
$text-light: #eee
$text-light-fade: #aaa
$action: #1d89bf
$action-highlight: #0071a9
$action-alt: #6cf
$subaction: #195979
$subaction-highlight: #1371a0
$warning: #b44
$warning-highlight: #a22020

$barely-opaque: 0.02

$font-sans: "helvetica neue", helvetica, arial, sans-serif
$font-mono: consolas, monaco, courier new, monospace

$toolbar-height: 50px
$controls-height: 60px
$timeline-height: 300px // TODO: eventually drag-resizable
$default-lower-height: $toolbar-height + $controls-height + $timeline-height
$left-pane-width: 350px // TODO: eventually drag-resizable

$icon-zoomplus: "\f00e"
$icon-zoomminus: "\f010"
$icon-plus: "\f055"
$icon-minus: "\f056"
$icon-trash: "\f014"
$icon-doubleleft: "\f100"
$icon-doubleright: "\f101"
$icon-left: "\f104"
$icon-right: "\f105"
$icon-play: "\f144"
$icon-pause: "\f28b"
$icon-pencil: "\f040"
$icon-duplicate: "\f0c5"
$icon-undo: "\f112"
$icon-redo: "\f064"
$icon-heart: "\f08a"
$icon-sun: "\f185"
$icon-cursor: "\f245"
$icon-move: "\f047"
$icon-upload: "\f0ee"
$icon-label: "\f02b"
$icon-folder: "\f07b"
$icon-cube: "\f1b2"
$icon-cubes: "\f1b3"
$icon-rects: "\f248"
$icon-target: "\f140"

////////////////////////////////////////////////////////////////////////////////
// UTIL

@mixin fill($margin: 0)
  bottom: $margin
  left: $margin
  position: absolute
  right: $margin
  top: $margin

@mixin reify
  content: ''
  display: block

@mixin icon
  font-family: vannot !important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@mixin center-vert
  position: relative
  top: 50%
  transform: translateY(-50%)

@mixin visibility-toggle($visible-type: inline)
  display: none
  &.visible
    display: $visible-type

////////////////////////////////////////////////////////////////////////////////
// RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  background: transparent
  border: 0
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

html, body
  background-color: $background
  overflow: hidden

////////////////////////////////////////////////////////////////////////////////
// GLOBAL

@font-face
  font-family: vannot
  font-stile: normal
  font-weight: normal
  src: url('assets/vannot.ttf?#{$icon-cache}') format('truetype'), url('assets/vannot.woff?#{$icon-cache}') format('woff'), url('assets/vannot.svg?#{$icon-cache}#icomoon') format('svg')

#vannot-templates
  display: none

#vannot
  .hide
    display: none !important

.vannot-button
  background: none
  background-color: $action
  border: none
  border-radius: 4px
  color: #fff
  font-weight: bold
  letter-spacing: -0.2px
  outline: none
  padding: 7px 10px 8px

  &:before
    @include icon
    font-size: 14px
    line-height: 1px
    margin-right: 5px
    position: relative
    top: 2px

  &:hover
    background-color: $action-highlight

.vannot-button-warn
  background-color: $warning
  &:hover
    background-color: $warning-highlight

////////////////////////////////////////////////////////////////////////////////
// LAYOUT

#vannot
  @include fill
  font-family: $font-sans
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none

.vannot-notify
  $width: 350px
  left: calc(50% - #{math.div($width, 2)})
  pointer-events: none
  position: absolute
  top: 20px
  width: $width
  z-index: 9

.vannot-viewport
  @include fill
  bottom: $default-lower-height

.vannot-lower
  @include fill
  height: $default-lower-height
  top: auto

.vannot-toolbar
  @include fill
  bottom: auto
  height: $toolbar-height
  top: 0

.vannot-controls
  @include fill
  background: $background-panel
  bottom: auto
  height: $controls-height
  top: $toolbar-height

  .vannot-controls-resizer
    $resize-border: 1px solid #222
    border-bottom: $resize-border
    border-top: $resize-border
    cursor: ns-resize
    height: 5px
    left: 20px
    position: absolute
    top: 28px
    width: 25px

    &:before
      border-top: $resize-border
      content: ''
      display: block
      left: 0
      position: absolute
      right: 0
      top: 2px

.vannot-timeline
  @include fill
  top: $controls-height + $toolbar-height


////////////////////////////////////////////////////////////////////////////////
// SECTION: Misc Chrome

@keyframes notify-show
  0%
    margin-bottom: 0
    max-height: 0
    opacity: 0

  10%
    margin-bottom: 6px
    max-height: 100px
    opacity: 1

  90%
    margin-bottom: 6px
    max-height: 100px
    opacity: 0.9

  100%
    margin-bottom: 0
    max-height: 0
    opacity: 0

.vannot-notify-message
  animation: notify-show 6s linear 0s 1
  background: #f7f7f7
  border-top: 2px solid #888
  font-size: 13px
  padding: 8px 12px

  &.vannot-notify-message-info
    border-top-color: $action
  &.vannot-notify-message-error
    background: $warning
    border-top-color: #fff
    color: #fff

#vannot-tooltip
  $content-margin: 8px
  $hpadding: 8px

  background: rgba(0, 0, 0, 0.8)
  color: #fff
  display: none
  font-size: 12px
  padding: 4px $hpadding
  pointer-events: none
  position: absolute
  z-index: 99

  margin-top: -$content-margin - 12px
  &.mirrored
    margin-left: -$hpadding
  &.dropped
    margin-top: $content-margin

#vannot-thumbnail
  display: none
  position: absolute
  z-index: 99
  video
    max-height: 200px


////////////////////////////////////////////////////////////////////////////////
// SECTION: Video

.vannot-viewport
  overflow: hidden

.vannot-video
  @include fill(55px)

  video
    @include center-vert
    max-height: 100%
    width: 100%

.vannot-icon-toolbutton
  background: none
  border: none
  color: #fff
  outline: none
  &:before
    @include icon
    font-size: 15px
    position: relative
    top: 3px

.vannot-main-menu
  left: 15px
  overflow: hidden
  position: absolute
  top: 15px

  .vannot-menu-item
    background: rgba(36, 36, 36, 0.8)
    border-radius: 2px
    float: left
    margin-right: 8px
    padding: 3px 7px 6px
    &:last-child
      margin-right: 0

  .vannot-save:before
    @include icon
    color: #fff
    content: $icon-upload
    margin-right: 6px

.vannot-video-adjust
  $background: #242424
  overflow: hidden
  position: absolute
  right: 15px
  top: 15px

  .vannot-video-parameter
    background: $background
    border-radius: 2px
    float: left
    margin-right: 8px
    opacity: 0.9
    padding: 3px 7px 6px
    &:last-child
      margin-right: 0

  select
    background: $background
    border: none
    color: #fff
    outline: none

.vannot-video-brightness:before
  @include icon
  color: #fff
  content: $icon-sun
  position: relative
  top: 3px

.vannot-video-chromatic-icon
  $size: 10px
  border: 2px solid #fff
  border-radius: 999px
  float: left
  height: $size
  position: relative
  top: 4px
  width: $size

  &:before
    @include reify
    @include fill
    background: #fff
    left: 50%

.vannot-video-zoom
  &:before
    @include icon
    color: #fff
    content: $icon-zoomplus
    position: relative
    top: 3px

.vannot-reset-zoom
  margin-left: 2px
  padding-left: 0
  &:before
    content: $icon-target

.vannot-select-mode:before
  content: $icon-cursor
  .tool-select &
    color: $action-alt
.vannot-pan-mode
  padding-right: 5px
  &:before
    content: $icon-move
    .tool-pan &
      color: $action-alt



////////////////////////////////////////////////////////////////////////////////
// SECTION: Canvas

@keyframes flash
  0%
    fill: #eee
    stroke: #eee
  50%
    fill: $action
    stroke: $action
  100%
    fill: #eee
    stroke: #eee
@mixin flash
  animation: flash 0.6s ease-in-out 0s infinite

.vannot-canvas
  @include fill

  svg
    height: 100%
    width: 100%

    .drawing &
      cursor: crosshair

    .tool-pan &
      cursor: -webkit-grab
      cursor: grab

    ////////////////////////////////////////
    // WIP PATH/SEGMENT STYLES

    .wipPath
      stroke-width: 4px

    .wipPoint, .wipPath
      visibility: hidden
      .drawing &
        @include flash
        visibility: visible

    .wipCloser
      fill: $action
      fill-opacity: 0.1
      stroke: $action
      stroke-width: 4px
      transition: 0.2s stroke-width
      visibility: hidden
      .drawing &.visible
        visibility: visible
        &:hover
          stroke-width: 8px

    ////////////////////////////////////////
    // INSTANCE OUTLINE STYLES

    .instanceOutline
      fill: none
      opacity: 0.4
      stroke: #fff
      stroke-width: 2px
      transition: 0.2s stroke-width, 0.2s opacity
      &.selected
        opacity: 0.8
        stroke-width: 3px

      .drawing &
        opacity: $barely-opaque

    .instanceDashes .instanceOutline
      stroke-dasharray: 6,6

    ////////////////////////////////////////
    // SHAPE POINT/PATH STYLES

    .shapePath, .shapePoint
      fill: #aaa
      stroke: #aaa
      transition-duration: 0.2s
      transition-property: opacity, fill, fill-opacity, stroke, stroke-width, stroke-opacity

      .drawing &
        opacity: 0.4

    .shapePath
      fill-opacity: 0.4
      stroke-width: 2px
    .selected
      .shapePath
        fill-opacity: 0.7
        stroke-width: 4px
        .dragstate-dragging &
          fill-opacity: 0.4
          stroke-width: 2px

    .shapePoint
      stroke: #fff
      stroke-opacity: 0
      stroke-width: 2px
      &.selected
        stroke-opacity: 0.7
        transition-duration: 0.1s
        &:hover
          stroke-opacity: 1
          stroke-width: 4px

      .dragstate-dragging &
        opacity: $barely-opaque
        &.selected
          fill-opacity: 0
          opacity: 1
          stroke-opacity: 0.3

    .wip
      .shapePath
        fill-opacity: 0

      .shapePath, .shapePoint
        opacity: 1
        //@include flash

    ////////////////////////////////////////
    // OTHER STYLES

    .implicitPoint
      fill-opacity: 0.6
      stroke: #fff
      stroke-opacity: 0.5
      stroke-width: 1px
      transition-duration: 0.1s
      transition-property: opacity, fill-opacity, stroke-opacity, stroke-width
      &:hover
        stroke-opacity: 0.8
        stroke-width: 4px

      .dragstate-dragging &
        opacity: $barely-opaque

    .selectionBox
      visibility: hidden
      &.active
        fill: $action
        fill-opacity: 0.5
        stroke: $action
        stroke-width: 2px
        visibility: visible

    .boundingBox
      fill: transparent
      opacity: 0.4
      pointer-events: none
      stroke: #fff
      stroke-width: 1px

////////////////////////////////////////////////////////////////////////////////
// SECTION: Toolbar

.vannot-toolbar
  background-color: #2d2d2d
  overflow: hidden
  text-align: center
  > div
    @include fill
    padding: 10px 0
    transition: 0.3s transform, 0.4s opacity

  label
    color: #999
    font-size: 12px
    font-weight: bold
    letter-spacing: -0.2px
    margin-right: 10px

  .vannot-select-group
    $select-group-background: #222
    background: $select-group-background
    border-radius: 2px
    display: inline-block
    margin-right: 14px
    padding: 0 8px 3px 12px

    label
      font-weight: normal
      margin-right: 0
      position: relative

    select
      background: $select-group-background
      border: none
      color: #fff
      margin: 0
      outline: none

    input[type=text]
      background: $select-group-background
      border: none
      color: #fff
      margin: 0
      outline: none
      padding: 4px 0 2px

  .vannot-vertical-rule
    border-left: 1px solid #999
    display: inline-block
    height: 30px
    padding: 0 6px
    vertical-align: middle // i'm not sure why this works it shouldn't.

.vannot-toolbutton
  $icon-size: 18px
  $icon-box-size: 30px
  background: transparent
  border: none
    radius: 999px 2px 2px 999px
  color: #fff
  line-height: $icon-box-size
  margin: 0 6px
  outline: none
  padding: 0
    right: 8px
  text-align: center

  &:before
    @include icon
    background-color: $action
    border-radius: 999px
    color: #fff
    display: block
    float: left
    font-size: $icon-size
    height: $icon-box-size
    line-height: $icon-box-size
    margin-right: 8px
    width: $icon-box-size

  &:hover
    background: #222
    &:before
      background-color: $action-highlight

.vannot-toolbutton-warn
  &:before
    background-color: $warning
  &:hover:before
    background-color: $warning-highlight

////////////////////////////////////////
// > Toolbar states
.vannot-toolbar-drawing
  opacity: 0
  transform: translateY(#{-$toolbar-height})
.vannot-toolbar-default
  opacity: 1
.vannot-toolbar-shapes, .vannot-toolbar-points
  opacity: 0
  transform: translateY(#{$toolbar-height})
.vannot-app.drawing .vannot-toolbar
  .vannot-toolbar-drawing
    opacity: 1
    transform: translateY(0)
  .vannot-toolbar-default
    opacity: 0
    transform: translateY(#{$toolbar-height})
.vannot-app.shapes .vannot-toolbar
  .vannot-toolbar-shapes
    opacity: 1
    transform: translateY(0)
  .vannot-toolbar-default
    opacity: 0
    transform: translateY(#{-$toolbar-height})
.vannot-app.points .vannot-toolbar
  .vannot-toolbar-points
    opacity: 1
    transform: translateY(0)
  .vannot-toolbar-default
    opacity: 0
    transform: translateY(#{-$toolbar-height})

.vannot-toolbar-shapes-plural, .vannot-toolbar-points-plural, .vannot-toolbar-partial-plural,
.vannot-toolbar-instance-status, .vannot-instance-form, .vannot-instance-break, .vannot-instance-select
  @include visibility-toggle

.vannot-toolbar .vannot-toolbar-instance-class
  @include visibility-toggle(inline-block)

.vannot-instance-class
  display: none
.vannot-instance-mode-freeform input[type=text].vannot-instance-class
  display: inline-block
.vannot-instance-mode-preset select.vannot-instance-class
  display: inline-block
.vannot-instance-mode-none
  .vannot-toolbar-instance-class
    display: none
    &.visible ~ .vannot-toolbar-instance-assigned
      display: block


////////////////////////////////////////
// > Toolbar icons
.vannot-draw-shape:before
  content: $icon-pencil
  text-indent: 2px
.vannot-copy-last:before
  content: $icon-duplicate
  text-indent: -1px
.vannot-undo-draw:before
  content: $icon-undo
  text-indent: -1px
.vannot-complete:before
  content: $icon-heart
  text-indent: 2px
.vannot-duplicate-shape:before
  content: $icon-duplicate
  text-indent: -1px
.vannot-delete-shape:before, .vannot-delete-points:before
  content: $icon-trash
.vannot-expand-selection:before, .vannot-instance-select:before
  content: $icon-rects
  font-size: 16px
.vannot-instance-form:before
  content: $icon-cube
.vannot-instance-break:before
  content: $icon-cubes

////////////////////////////////////////////////////////////////////////////////
// SECTION: Controls

$control-button-size: 60px

.vannot-controls-buttons
  margin: 0 auto
  width: $control-button-size * 7

  button
    background: none
    border: none
    color: #fff
    float: left
    font-size: 30px
    height: $control-button-size
    outline: none
    width: $control-button-size

    &:hover
      font-size: 33px
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.6)

.vannot-leapback
  @include icon
  &:before
    content: $icon-doubleleft

.vannot-skipback, .vannot-keyback
  @include icon
  &:before
    content: $icon-left

.vannot-playpause
  @include icon
  &:before
    content: $icon-play

    .vannot-app.playing &
      content: $icon-pause

.vannot-skipforward, .vannot-keyforward
  @include icon
  &:before
    content: $icon-right

.vannot-leapforward
  @include icon
  &:before
    content: $icon-doubleright

.vannot-keyback, .vannot-keyforward
  $size: 8px
  position: relative
  &:after
    @include reify
    background: #aaa
    border: 1px solid #fff
    height: $size
    position: absolute
    top: math.div($control-button-size - $size, 2)
    transform: rotate(45deg)
    width: $size

// TODO: calculate:
.vannot-keyback:after
  right: 14px
.vannot-keyforward:after
  left: 14px

.vannot-timecode
  background: $background
  border-radius: 2px
  color: $text-light-fade
  font-size: 10px
  padding: 6px 9px
  position: absolute
  right: 15px
  top: 15px

  span
    color: $text-light
    font-family: $font-mono
    font-size: 16px
    line-height: 1

  .vannot-timecode-fr
    color: $text-light-fade

////////////////////////////////////////////////////////////////////////////////
// SECTION: Timeline

$timeline-ticks-height: 40px
$timeline-ranger-height: 16px

.vannot-timeline
  &:before
    @include reify
    @include fill
    background: #222
    left: $left-pane-width
    top: $timeline-ticks-height

////////////////////////////////////////
// > Scale + Playhead

.vannot-scale
  height: $timeline-ticks-height
  left: $left-pane-width
  position: absolute
  right: 0

.vannot-playhead
  border-right: 1px solid $action-alt
  height: $timeline-height - $timeline-ticks-height
  pointer-events: none
  position: absolute
  top: 100%
  width: 0
  z-index: 2

  $size: 9px
  $halfsize: math.div($size, 2)
  
  &:before
    @include reify
    background: $action-alt
    border-radius: 2px 2px 0 0
    bottom: calc(100% + #{$halfsize})
    height: $size
    left: -$halfsize
    pointer-events: auto
    position: absolute
    width: $size
  &:after
    @include reify
    border: $halfsize solid transparent
      bottom-width: 0
      top-color: $action-alt
    bottom: 100%
    left: -$halfsize
    pointer-events: auto
    position: absolute

.vannot-ticks
  @include fill
  pointer-events: none

  .vannot-tick
    $color: #777
    border-right: 1px solid $color
    bottom: 0
    height: 5px
    position: absolute

    span
      $width: 60px
      bottom: 13px
      color: $color
      display: none
      font-size: 10px
      left: math.div($width, -2)
      position: absolute
      text-align: center
      width: $width

    &.vannot-tick-major
      height: 10px

      span
        display: block

////////////////////////////////////////
// > Tracks

$track-height: 25px
$track-vpadding: 5px
$track-outerheight: $track-height + (2 * $track-vpadding)

.vannot-tracks
  @include fill
  bottom: $timeline-ranger-height
  overflow-x: hidden
  overflow-y: scroll
  padding-bottom: 40px
  top: $timeline-ticks-height

  &::-webkit-scrollbar
    background: #222
    width: 10px

  &::-webkit-scrollbar-thumb
    background: #888
  &::-webkit-scrollbar-thumb:hover
    background: #999

  h2
    color: #ccc
    font-size: 12px
    font-weight: bold
    padding: 2px
      left: 40px
      top: 8px

.vannot-track
  height: $track-outerheight

  .vannot-track-header
    $hpadding: 12px
    background: $background
    box-shadow: 0 1px 0 #3a3a3a inset, 0 -1px 0 #222 inset
    height: $track-height
    margin-bottom: -1 * $track-outerheight
    padding: $track-vpadding $hpadding
    position: relative
    width: $left-pane-width - (2 * $hpadding)
    z-index: 1

  .vannot-track-title
    &, .vannot-track-title-edit
      color: $text-light
      font-family: $font-sans
      font-size: 12px
      font-weight: bold
      line-height: $track-height
      padding: 0
      width: calc(100% - 80px) // TODO: get 70px by calculation instead

    .vannot-track-title-edit
      background: none
      border: none
      outline: none
      position: absolute

    .vannot-track-title-ghost
      color: transparent
      &:after
        @include icon
        content: $icon-pencil
        padding-left: 6px

    &:hover .vannot-track-title-ghost:after
      color: #999

  .vannot-track-color
    float: left
    margin-right: 10px
    margin-top: 2px
    overflow: hidden

    .sp-replacer
      border: none
      height: 15px
      padding: 0
      width: 18px

  .vannot-track-item-count
    border-radius: 2px
    color: #ccc
    font-size: 11px
    padding: 3px 5px 2px
    position: absolute
    right: 5px
    top: 8px

    .vannot-objects &:before
      @include reify
      border: 6px solid transparent
        right: 7px solid #999
      position: absolute
      right: calc(100% + 2px)
      top: 7px
      transform: rotate(-25deg)

    .vannot-labels &:before
      @include reify
      background: #666
      border-left: 1px solid #aaa
      border-right: 1px solid #aaa
      height: 9px
      position: absolute
      right: calc(100% + 1px)
      top: 5px
      width: 7px

  .vannot-track-remove
    background: none
    border: none
    color: #fff
    display: none
    line-height: 15px
    outline: none
    overflow: hidden
    padding: 0 5px 4px
    position: absolute
    right: 4px
    top: 6px
    white-space: nowrap
    width: 20px

    &:before
      @include icon
      content: $icon-trash
      font-size: 16px
      margin-right: 4px
      position: relative
      top: 3px

    &:hover
      color: $warning

    &.confirm
      background: $warning
      border-radius: 999px
      color: #fff
      display: block
      transition: 0.2s background, 0.2s color, 0.2s width
      width: 216px
      &:hover
        background: $warning-highlight
        color: #fff

  .vannot-track-header:hover
    .vannot-track-item-count
      display: none
    .vannot-track-remove
      display: block

  &.system
    .vannot-track-title-edit
      pointer-events: none
    .vannot-track-title-ghost
      display: none
    &:hover .vannot-track-item-count
      display: block
    .vannot-track-remove
      display: none !important

  .vannot-track-timeline
    background: #111
    box-shadow: 0 -1px 0 #1b1b1b inset
    height: $track-outerheight
    margin-left: $left-pane-width
    position: relative

    .vannot-track-point
      $size: 12px
      border: 1px solid #000
      box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.3) inset
      height: $size
      position: absolute
      top: 10px
      transform: translateX(-6px) rotate(45deg)
      width: $size
      &:hover
        border-color: #ccc

    .vannot-track-segment
      bottom: 0
      box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3) inset, 1px 1px 0 rgba(255, 255, 255, 0.2) inset
      cursor: default
      min-width: 2px
      overflow: hidden
      position: absolute
      top: 0

      $handle-width: 7px
      $shadow-adjust: 1px
      .vannot-track-segment-handle
        background: inherit
        bottom: $shadow-adjust
        cursor: ew-resize
        position: absolute
        top: 0
        width: $handle-width

        &:before
          $vmargin: 6px
          @include reify
          bottom: $vmargin - $shadow-adjust
          border-right: 1px solid rgba(0, 0, 0, 0.35)
          left: floor(math.div($handle-width, 2))
          position: absolute
          top: $vmargin

        &.handle-right
          right: 0

      .vannot-track-segment-implicit
        bottom: 0
        margin-left: -$handle-width
        position: absolute
        top: 0

        .handle-implicit-right
          left: $handle-width

    .vannot-track-selection
      background: transparentize($action, 0.5)
      border: 1px solid $action
      bottom: 0
      cursor: default
      display: none
      overflow: hidden
      position: absolute
      top: 0
      z-index: 5

      &.active
        display: block

      .vannot-track-selection-delete
        $size: 20px
        background: $action
        border: none
        height: $size
        margin: 0
        outline: none
        padding: 0
        position: absolute
        right: 0
        text-align: center
        top: 0
        width: $size
        &:before
          @include icon
          color: #fff
          content: $icon-trash
          font-size: 13px
        &:hover
          background: $action-highlight

.vannot-object-new, .vannot-label-new
  border: none
  border-radius: 2px
  background: none
  color: #fff
  margin: 6px
  margin-left: 12px
  outline: none
  padding: 2px 6px 4px

  &:before
    @include icon
    content: $icon-plus
    font-size: 14px
    margin-right: 10px
    position: relative
    top: 2px

  &:hover
    background: #222

.vannot-labels .vannot-track-timeline
  cursor: col-resize

////////////////////////////////////////
// > Ranger

.vannot-ranger
  background: #1f1f1f
  bottom: 0
  left: $left-pane-width
  height: $timeline-ranger-height
  position: absolute
  right: 0
  z-index: 3

  .vannot-ranger-fill
    background-color: $subaction
    border: 1px solid #000
    bottom: 0
    cursor: -webkit-grab
    cursor: grab
    position: absolute
    top: 0

  &:hover .vannot-ranger-fill
    background-color: $subaction-highlight

  .vannot-ranger-start, .vannot-ranger-end
    background-color: $action
    bottom: 1px
    cursor: ew-resize
    position: absolute
    top: 1px
    width: 20px

    &:before
      @include reify
      border-left: 1px solid #000
      border-right: 1px solid #000
      bottom: 3px
      position: absolute
      top: 3px
      width: 1px

  $handle-distance: 4px
  .vannot-ranger-start:before
    left: $handle-distance
  .vannot-ranger-end:before
    right: $handle-distance
